[Unit]
Description={{DESCRIPTION}}
After=network.target

[Service]
Type=simple
WorkingDirectory={{APP_DIR}}
ExecStart={{EXEC_START}}
Restart=on-failure

Environment="PYTHON_BIN={{PYTHON_BIN}}"
Environment="APP_DIR={{APP_DIR}}"
Environment="PORT={{PORT}}"
Environment="MESSAGE={{MESSAGE}}"
Environment="RELEASE={{RELEASE}}"

[Install]
WantedBy=multi-user.target
